.ic-enfold-vslider-container .icvs-featured .avia-video {
    width: 9999px;
}

@media screen and (min-width: 768px) {
    .ic-enfold-vslider-container .icvs-featured .border-effect  {
        margin: 20px;
        margin-right: 40px;
        border: solid 4px #f0f0f0;
    }

    .ic-enfold-vslider-container .icvs-featured .border-effect > img {
        transform: translateX(20px) translateY(-20px) scale(1, 1) translateZ(0px);
        box-shadow: -10px 10px 10px 10px rgba(204, 204, 204, .2);
    }
}